/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.11.2019, 9:21:29
    Author     : Marin
*/
.button{
    -fx-border-style:solid;
    -fx-font-weight: bold;
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-border-radius:10 ;
    -fx-background-radius:10 ;
    -fx-border-width: 5px;
    
}
.label{
    -fx-font-size:16pt;
    -fx-text-fill: black;
    -fx-font-family:"Ariel";
    -fx-font-weight: bold;
   
    -fx-text-fill: darkred;
    -fx-font-size: 20;
    -fx-border-radius:10 ;
    -fx-background-radius:10 ;
    -fx-border-width: 5px;
}
    